extends layout

block content
  - var reSecWarning = "If a warning is shown please read the <a href='#secwarninfo'>Note for using downloaded files</a> above."

  - var showhowtolink = '/ui/' + pagelink;

  div.row
    div.col-md-3
      h5 Navigation
      h6 Select How To variant for operating system(s)
      nav.nav.flex-column
        <a class="nav-link pt-0 pb-0" href="#{showhowtolink}">all below</a>
        <a class="nav-link pt-0 pb-0" href="#{showhowtolink}/windows"> Windows</a>
        <a class="nav-link pt-0 pb-0" href="#{showhowtolink}/macos"> macOS</a>
        <a class="nav-link pt-0 pb-0" href="#{showhowtolink}/linux"> Linux</a>

      p Currently viewing the variant for&nbsp;<strong>
        if showos.all
          | all
        else if showos.windows
          | Windows
        else if showos.macos
          | macOS
        else if showos.linux
          | Linux
        | </strong>
      h6 Table of Contents
      nav.nav.flex-column
        a.nav-link.pt-0.pb-0(href="#overview") Overview
        a.nav-link.pt-0.pb-0.disabled(href="#") Make use of this site
        a.nav-link.pt-0.pb-0(href="#installtp") Install Tool Package
        a.nav-link.pt-0.pb-0(href="#createpmd") Create your metadata
        a.nav-link.pt-0.pb-0(href="#opt1") <em>Option 1</em>: embed by running program
        a.nav-link.pt-0.pb-0(href="#opt2") <em>Option 2</em>: embed by dropping
        a.nav-link.pt-0.pb-0(href="#checkarch") Check and archive
        a.nav-link.pt-0.pb-0(href="#checkembmd") Check metadata
        a.nav-link.pt-0.pb-0.disabled(href="#") Tool Package
        a.nav-link.pt-0.pb-0(href="#toolpkgcontent") Package content
        a.nav-link.pt-0.pb-0(href="#testtoolpkg") Testing it
        a.nav-link.pt-0.pb-0.disabled(href="#") More ...
        a.nav-link.pt-0.pb-0(href="#contacts") Contacts

    div.col-md-9
      <!-- How To content -->
      p Parts of this page show information for a specific operating system, you can select the variant focusing on yours in the Navigation.
      hr
      h3 How To Use this Site and its Tools
      h6 This site will enable you to define a set of metadata, download this as a packet, and then embed this information directly into one or many of your photos in a single operation.
      h6 We invite you to read the sections <em>Overview</em> and <em>Make use of this site</em> first as they show the options in use you have. Then you can pick what you prefer.
      div.row.mt-3
        div.col-9.lhg-14 <strong>Generic notes for reading this page</strong>:<br>- The guidelines below use the term <em>directory</em>, this is the same as the also well known term <em>folder</em>.<br>- All the file names below include file name extensions like <code>.exe, .app, .cmd, .sh, .jpg</code> and more.&nbsp;
          if showos.all
            | Depending on the setting of your Windows Explorer, your Apple Finder or your Linux Desktop GUI they may be displayed or not. Therefore a file named <code>set-iptc-pmd-searchengines-tool_windows.zip</code> may be visible as <code>set-iptc-pmd-searchengines-tool_windows</code> with a type like "zip file" or "compressed file" in the Explorer or Finder or Linux Desktop GUI.
          else if showos.windows
            | Depending on the setting of your Windows Explorer they may be displayed or not. Therefore a file named <code>set-iptc-pmd-searchengines-tool_windows.zip</code> may be visible as <code>set-iptc-pmd-searchengines-tool_windows</code> with a type like "zip file" or "compressed file" in the Explorer.
          else if showos.macos
            | Depending on the setting of your Apple Finder they may be displayed or not. Therefore a file named <code>set-iptc-pmd-searchengines-tool_macos.zip</code> may be visible as <code>set-iptc-pmd-searchengines-tool_macos</code> with a type like "zip file" or "compressed file" in the Finder.
          else if showos.linux
            | Depending on the setting of your Linux Desktop GUI they may be displayed or not. Therefore a file named <code>set-iptc-pmd-searchengines-tool_linux.zip</code> may be visible as <code>set-iptc-pmd-searchengines-tool_linux</code> with a type like "zip file" or "compressed file" in the Linux Desktop GUI.
      div.row.mt-3
        div#secwarninfo.col-9.lhg-14 <strong>Note for using downloaded files</strong>:<br>
          if showos.all
            | During expanding a downloaded ToolPackage zip file or at the first time of using a program or script your computer operating system may show a warning about an "unknown publisher" or an "unidentified developer". Please trust our tools and ...<br>... on a <strong>Windows</strong> computer just click on the “Run” button to continue. If you do not want to see this warning again, be sure to un-tick the checkbox at the lower-left labeled “Always ask before opening this file” before clicking “Run.”<br>... on a <strong>macOS</strong> computer just click on OK, then hold down the Control key and click - or on a mouse with two buttons: right-click - the icon and select open. Another warning will appear, select the option to authorize the app. This will only happen on first use, see <a href='https://support.apple.com/guide/mac-help/open-a-mac-app-from-an-unidentified-developer-mh40616/mac'> this Apple Support page for more details</a>.
          else if showos.windows
            | During expanding a downloaded ToolPackage zip file or at the first time of using the program Windows may show a warning about an "unknown publisher". Please trust our tools and just click on the “Run” button to continue. If you do not want to see this warning again, be sure to un-tick the checkbox at the lower-left labeled “Always ask before opening this file” before clicking “Run.”
          else if showos.macos
            |  During expanding a downloaded ToolPackage zip file or at the first time of using the app macOS may show a warning about an "unidentified developer". Please trust our tools and just click on OK, then hold down the Control key and click - or on a mouse with two buttons: right-click - the icon and select open. Another warning will appear, select the option to authorize the app. This will only happen on first use, see <a href='https://support.apple.com/guide/mac-help/open-a-mac-app-from-an-unidentified-developer-mh40616/mac'> this Apple Support page for more details</a>.

      h4#overview.mt-3 Overview
      div.row.mt-1
        div.col-9.lhg-14.mb-1 Here is an overview of the workflow to embed IPTC photo metadata into your images:
      div
        ol.col-9
          li.lhg-14 Download the Tool Package from this site and install it
            if showos.all
              | , and install the program ExifTool (if required for your operating system). A one-time only step.
            else if showos.windows
              | . A one-time only step.
            else if showos.macos
              | , and install the program ExifTool. A one-time only step.
            else if showos.linux
              | , and install the program ExifTool. A one-time only step.
          li.lhg-14 Enter your photo metadata using this site and create a file to download and embed it
          li.lhg-14 Embed the metadata into image files:<br><strong>Option 1:</strong> Copy the image files you want to contain the embedded metadata to a specific directory. Run a program from the installed Tool Package to embed the metadata into the file(s).<br>This option may be better for embedding metadata into files gathered from many different directories.<br><strong>Option 2:</strong> Drop image files and/or directory/ies with image files on a special program which copies the file(s) to a temporary directory and embeds the metadata into all dropped files.<br>This option may be better for embedding metadata into some files or subdirectories of a specific directory using a file browser (Explorer, Finder, ...).
          li.lhg-14 Recommended: check if metadata are embedded properly. Check some sample images at least each time you download and embed a new file with your metadata.
          li.lhg-14 Move the modified image files to another directory of your choice
      h4 Make use of this site - step by step
      div.row.mt-3
        div.col-9.lhg-14 The steps below refer to steps of the workflow overview above.

      h5#installtp.mt-2 Installing the Tool Package and ExifTool
      div
        ul.col-9
          li.lhg-14 <strong>Step 1.1:</strong><br>a) Create a directory in your file system for the purpose of embedding photo metadata displayed by search engines. It will be referenced as Tool Package directory in these guidelines.<br>
            if showos.all
              | b) <strong>Download the Tool Package</strong> for the operating system of your computer:<br>b.1) <a href="/set-iptc-pmd-searchengines-tool_windows.zip">for Windows</a> named <code>set-iptc-pmd-searchengines-tool_windows.zip</code> to this new directory.<br>b.2) <a href="/set-iptc-pmd-searchengines-tool_macos.zip">for macOS</a> named <code>set-iptc-pmd-searchengines-tool_macos.zip</code> to this new directory.<br>b.3) <a href="/set-iptc-pmd-searchengines-tool_linux.zip">for Linux</a> named <code>set-iptc-pmd-searchengines-tool_linux.zip</code> to this new directory.<br>
            else if showos.windows
              | b) <strong><a href="/set-iptc-pmd-searchengines-tool_windows.zip">Download the Tool Package</a></strong> for Windows</a> named <code>set-iptc-pmd-searchengines-tool_windows.zip</code> to this new directory.<br>
            else if showos.macos
              | b) <strong><a href="/set-iptc-pmd-searchengines-tool_macos.zip">Download the Tool Package</a></strong> for macOS</a> named <code>set-iptc-pmd-searchengines-tool_macos.zip</code> to this new directory.<br>
            else if showos.linux
              | b) <strong><a href="/set-iptc-pmd-searchengines-tool_linux.zip">Download the Tool Package</a></strong> for Linux</a> named <code>set-iptc-pmd-searchengines-tool_linux.zip</code> to this new directory.<br>
            | c) Uncompress this zip file there. !{reSecWarning}<br>d) Check if this directory has a sub-directory named <code>images</code>. If not: create a directory with this name. <br>Find below <a href="#toolpkgcontent">details about the content of this Tool Package</a> and how to <a href="#testtoolpkg">test its basic functions</a> (recommended!).
          li.lhg-14.mt-1 <strong>Step 1.2:</strong><br>
            if showos.all
              | You may have to install the program ExifTool. If you have installed ExifTool already on your computer you can skip this Step 1.2.<br>* If you are using <strong>Windows</strong> as operating system it is not required to install ExifTool, the ExifTool program (version 11.96) is included in the Tool Package as file named <code>exiftool_windows.exe</code>. (Version 11.96 of 24 April 2020 supports all metadata fields required for this purpose.)<br>* If you are using <strong>Apple's macOS or Linux</strong> as operating system, install ExifTool. The <a href="https://exiftool.org/">ExifTool home page</a> provides a package for macOS and Unix/Linux plus installation instructions for <a href="https://exiftool.org/install.html#OSX">macOS</a> and <a href="https://exiftool.org/install.html#Unix">Unix platforms (including Linux)</a>.
            else if showos.windows
              | On Windows it is not required to install ExifTool. The ExifTool program (version 11.96) is included in the Tool Package as <code>exiftool_windows.exe</code> file. (Version 11.96 of 24 April 2020 supports all metadata fields required for this purpose.) Even if you have installed ExifTool already this <code>exiftool_windows.exe</code> file is used.
            else if showos.macos
              | On macOS it is required to install ExifTool. If you have installed ExifTool already on your computer you can skip this Step 1.2.<br>The <a href="https://exiftool.org/">ExifTool home page</a> provides a package for macOS plus installation instructions for <a href="https://exiftool.org/install.html#OSX">macOS</a>.
            else if showos.linux
              | On Linux it is required to install ExifTool. If you have installed ExifTool already on your computer you can skip this Step 1.2.<br>The <a href="https://exiftool.org/">ExifTool home page</a> provides a package for Unix/Linux plus installation instructions <a href="https://exiftool.org/install.html#Unix">Unix platforms</a>, including Linux.

      h5#createpmd Create and download your photo metadata
      div
        ul.col-9
          li.lhg-14.mt-1 <strong>Step 2.1:</strong> Go to the <a href="/ui/form">Metadata Form</a> of this site and type your values in the available fields. Finally click the <span class="bggreen1">&nbsp;Generate Photo Metadata&nbsp;</span> button.
          li.lhg-14.mt-1 <strong>Step 2.2:</strong> This action will take you to a page showing the results. If everything worked correctly, you should see the words "It worked" below the headline "Result after ...", this is your confirmation that the generated data is ok to download.<br>To download, click on the link in the green box that says <span class="bggreen1">&nbsp;Download this IPTC Photo Metadata object ...&nbsp;</span> - and the the file <code>myiptcpmd.json</code> will be downloaded to a directory defined by your browser.<br>If you want to see the to-be-downloaded data for ExifTool you can click on the "Show metadata object" link  - the page will expand and a box will appear with the JSON code.<br>The results page also shows the Structured HTML Metadata as used by Google, it corresponds to the used fields.
          li.lhg-14.mt-1 <strong>Step 2.3:</strong> Copy or move the file <code>myiptcpmd.json</code> from your download directory to the directory where you had installed the Tool Package. There should be already a file with this name, overwrite it (your operating system may show a popup window asking you to confirm this overwrite).

      h5#opt1 Option 1: Embed photo metadata by running a program
      div.row.mt-2
        div.col-9.lhg-14.note1 (Note: in a previous version a shell script was used for all operating systems. This script is replaced by an executable for Windows and macOS.)
      div
        ul.col-9
          li.lhg-14.mt-1 <strong>Step 3.1</strong>: Select a set of photos into which you want to embed your photo metadata and <strong>copy</strong> them to this <code>images</code> directory - don't use original files! Be aware: If you have subdirectories of the <code>images</code> directory, any images within will also be embedded with metadata!
          li.lhg-14.mt-1 <strong>Step 3.2</strong>:&nbsp;
            if showos.all
              | Run the program for embedding the metadata in the directory of your installed Tool Package. Just activate the file name that starts with <code>embedIPTCpmd_RUN....</code> and ends with your operating system. First the program will search for an installed ExifTool and if not found it will exit. If found, the program will launch ExifTool as a command line program and will embed the metadata of the <code>myiptcpmd.json</code> into all files in the <code>images</code> directory and its subdirectories. Be aware, only files with these file name extension are processed: <code>.jpg .jpeg .tif .tiff .png .dng .psd</code>.<br>How to run the program ...<br> ... on a <strong>Windows</strong> computer:  double-click on <code>embedIPTCpmd_RUNorDROP_windows.exe</code><br>!{reSecWarning}<br> ... on a <strong>macOS</strong> computer:  Hold the Control Key down and click on <code>embedIPTCpmd_RUNorDROP_macos.app</code>.<br> ... on a <strong>Linux</strong> computer:  double-click on <code>embedIPTCpmd_RUN_linux.sh</code><br>Note for macOS and Linux computers: you may have to enable the program to be executed by a <code>chmod +x embedIPTCpmd_RUNorDROP_macos.app</code> or <code>chmod +x embedIPTCpmd_RUN_linux.sh</code> command.
            else if showos.windows
              | Run the program for embedding the metadata in the directory of your installed Tool Package. Just double-click the file name <code>embedIPTCpmd_RUNorDROP_windows.cmd</code>. (!{reSecWarning}) First the program will search for the <code>exiftool_windows.exe</code> file and if not found it will exit. If found, the program will launch ExifTool as a command line program and will embed the metadata of the <code>myiptcpmd.json</code> into all files in the <code>images</code> directory and its subdirectories. (You should see the names of the processed image files on your screen.) Be aware, only files with these file name extension are processed: <code>.jpg .jpeg .tif .tiff .png .dng .psd</code>.
            else if showos.macos
              | Run the program for embedding the metadata in the directory of your installed Tool Package. Just hold the Control Key down and click the file name <code>embedIPTCpmd_RUNorDROP_macos.app</code>. (!{reSecWarning}) First the program will search for installed ExifTool and if not found it will exit. If found, the program  will launch ExifTool as a command line program and will embed the metadata of the <code>myiptcpmd.json</code> into all files in the <code>images</code> directory and its subdirectories. (You should see the names of the processed image files on your screen.) Be aware, only files with these file name extension are processed: <code>.jpg .jpeg .tif .tiff .png .dng .psd</code>. After the program has finished you may have to close the terminal window.<br>Note: you may have to enable the program to be executed by a <code>chmod +x embedIPTCpmd_RUNorDROP_macos.app</code> command.
            else if showos.linux
              |  Run the program for embedding the metadata in the directory of your installed Tool Package. Just double-click the file name <code>embedIPTCpmd_RUN_linux.sh</code>. First the program will search for installed ExifTool and if not found it will exit. If found, the program will launch ExifTool as a command line program and will embed the metadata of the <code>myiptcpmd.json</code> into all files in the <code>images</code> directory and its subdirectories. (You should see the names of the processed image files on your screen.) Be aware, only files with these file name extension are processed: <code>.jpg .jpeg .tif .tiff .png .dng .psd</code>.<br>Note: you may have to enable the program to be executed by a <code>chmod +x embedIPTCpmd_RUN_linux.sh</code> command.

      h5#opt2 Option 2: Embed photo metadata by dropping files or directories on a program
      if showos.linux
        div
          p.col-9 Sorry, no such program is available for Linux as not all Desktop GUIs support dropping files, please use the program option above.
      else
        div
          ul.col-9
            if showos.all
              li.lhg-14.mt-1 If you are using the <strong>Linux</strong> operating system: sorry, no such program is available for Linux as not all Desktop GUIs support dropping files, please use the run program option above.
            li.lhg-14.mt-1 <strong>Step 3.1:</strong> Select <strong>1 up to 200 image files and/or directories</strong> with multiple image files into which you want to embed your photo metadata with your&nbsp;
              if showos.all
                | Windows Explorer or Mac Finder. You may select both, files and directories, for each drop.
              else if showos.windows
                | Windows Explorer. You may select both, files and directories, for each drop.
              else if showos.macos
                | Mac Finder. You may select both, files and directories, for each drop.
            li.lhg-14.mt-1 <strong>Step 3.2:</strong>&nbsp;
              if showos.all
                | Drag and then drop the file(s) and/or directory/ies on the program in the Tool Package directory.<br>On a <strong>Windows</strong> computer drop on <code>embedIPTCpmd_RUNorDROP_windows.exe</code><br>!{reSecWarning}<br>On a <strong>macOS</strong> computer drop on <code>embedIPTCpmd_RUNorDROP_macos.app</code>.<br>!{reSecWarning}
              else if showos.windows
                | Drag and then drop the file(s) and/or directory/ies on the program in the Tool Package directory: <code>embedIPTCpmd_RUNorDROP_windows.exe</code><br>!{reSecWarning}
              else if showos.macos
                | Drag and then drop the file(s) and/or directory/ies on the program in the Tool Package directory: <code>embedIPTCpmd_RUNorDROP_macos.app</code>.<br>!{reSecWarning}
            li.lhg-14.mt-1 <strong>Step 3.3:</strong> The dropped file(s) and/or directory/ies (with all files in it) should be copied to the subdirectory <code>dropped_images</code> of the Tool Package directory. Before starting the copying the available free space of the drive of the Tool Package directory is checked, if it is not sufficient the program stops. A notice is written to the text file <code>embedIPTCpmd_drop-log.txt</code>.
            li.lhg-14.mt-1 <strong>Step 3.4:</strong> Then the program will launch ExifTool and will embed the metadata of the <code>myiptcpmd.json</code> into the dropped image file(s) or all image files of the dropped directory/ies. Be aware, only files with these file name extension are processed: <code>.jpg .jpeg .tif .tiff .png .dng .psd</code>.
            li.lhg-14.mt-1 <strong>Step 3.5:</strong> Look for the dropped and processed image file(s): any dropped file or directory should appear in the subdirectory <code>dropped_images</code> of the Tool Package directory. A dropped directory is a subdirectory of <code>dropped_images</code>.<br>In the Tool Package directory all processed image files and/or directories are recorded in the text file <code>embedIPTCpmd_drop-log.txt</code>. Check if the correct files or directories were processed.

      h5#checkarch Checking and archiving image files with just embedded metadata
      div
        ul.col-9
          li.lhg-14.mt-1 <strong>Step 4:</strong> You should check the metadata embedded into image files at least each time you have downloaded and embedded metadata from a new <code>myiptcpmd.json</code> file. See below the <a href="#checkembmd">How to Check Embedded Metadata</a> section.
          li.lhg-14.mt-1 <strong>Step 5.1:</strong> Copy or move all the image files from the <code>images</code> or <code>dropped_images</code> directory to a directory where they are archived.
          li.lhg-14.mt-1 <strong>Step 5.2:</strong> After clearing the <code>images</code> or <code>dropped_images</code> directory - don't forget images in subdirectories - you can select another set of your image files.
          li.lhg-14.mt-1 <strong>Step 5.3:</strong> Continue with embedding the same metadata.<br>For using Option 1 (embed with program) copy other files to the <code>images</code> directory and embed the same photo metadata <a href="#opt1">as described above</a>.
            if showos.all || showos.windows || showos.macos
              | <br>For using Option 2 (embed by dropping) drop other files and/or directories on a program and embed the same photo metadata <a href="#opt2">as described above</a>.
          li.lhg-14.mt-1 As long as your metadata displayed by search engines does not change you can reuse the metadata in the <code>myiptcpmd.json</code> file for as many times as you wish!<br>If other metadata should be embedded go back to Step 2.

      h4#checkembmd How to Check Embedded Metadata
      div.row.mt-3
        div.col-9.lhg-14.mb-1 You can check metadata embedded into an image file by using the <a href="https://getpmd.iptc.org" target="_blank">Get IPTC Photo Metadata</a> site.
      div
        ul.col-9
          li.lhg-14 Select the image files you will check - this should be at least a subset of images.
          li.lhg-14 Go to <a href="https://getpmd.iptc.org" target="_blank">https://getpmd.iptc.org</a> - IPTC's site for displaying metadata embedded into image files
          li.lhg-14 There use Option B (Metadata embedded into an image uploaded from your computer):
          li.lhg-14 Pick one of the photos in the <code>images</code> or the <code>dropped_images</code> directory with the "Select image file ..." file selector. <br>Select for "What is shown" the option "Metadata relevant for photos shown as result by search engines" .
          li.lhg-14 Click on <span class="bggreen1">&nbsp;Get Photo Metadata of Local Image&nbsp;</span>.
          li.lhg-14 Then you should see metadata embedded into this image file displayed by search engines. Check if the values are correct. If not: go back to the <a href="/ui/form">Metadata Form</a> of this site, generate and download the metadata again, embed it and test again.

      h4#toolpkgcontent The Tool Package Content
      if showos.all || showos.windows
        h5 Package for Windows
        div.row.mt-3
          div.col-9.lhg-14 The compressed <code>set-iptc-pmd-searchengines-tool_windows.zip</code> file includes:
        div
          ul.col-9
            li.lhg-14 Directory <code>images</code>. It is empty.
            li.lhg-14 Directory <code>no-metadata-test-images</code>. It includes three JPEG image files with no embedded metadata. You may use them for testing by copying one or more files into the <code>images</code> directory.
            li.lhg-14 File <code>embedIPTCpmd_RUNorDROP_windows.exe</code>: the program for embedding metadata into image file of the <code>images</code> directory by running it or by dropping files on it on a Windows computer.
            li.lhg-14 File <code>exiftool_windows.exe</code>: the ExifTool program file for Windows only!
            li.lhg-14 File <code>myiptcpmd.json</code>: a sample of ExifTool data for embedding IPTC photo metadata into the image files in the <code>images</code> directory. It is not required to keep the sample file, if you want to keep it for e.g. testing you should rename it.

      if showos.all || showos.macos
        h5 Package for macOS
        div.row.mt-3
          div.col-9.lhg-14 The compressed <code>set-iptc-pmd-searchengines-tool_macos.zip</code> file includes:
        div
          ul.col-9
            li.lhg-14 Directory <code>images</code>. It is empty.
            li.lhg-14 Directory <code>no-metadata-test-images</code>. It includes three JPEG image files with no embedded metadata. You may use them for testing by copying one or more files into the <code>images</code> directory.
            li.lhg-14 File <code>embedIPTCpmd_RUNorDROP_macos.app</code>: the program for embedding metadata into image file of the <code>images</code> directory by running it or by dropping files on it  on a macOS computer.
            li.lhg-14 File <code>myiptcpmd.json</code>: a sample of ExifTool data for embedding IPTC photo metadata into the image files in the <code>images</code> directory. It is not required to keep the file, if you want to keep it you should rename it.

      if showos.all || showos.linux
        h5 Package for Linux
        div.row.mt-3
          div.col-9.lhg-14 The compressed <code>set-iptc-pmd-searchengines-tool_linux.zip</code> file includes:
        div
          ul.col-9
            li.lhg-14 Directory <code>images</code>. It is empty.
            li.lhg-14 Directory <code>no-metadata-test-images</code>. It includes three JPEG image files with no embedded metadata. You may use them for testing by copying one or more files into the <code>images</code> directory.
            li.lhg-14 File <code>embedIPTCpmd_RUN_linux.sh</code>: the program (strictly said: the shell script) for embedding metadata on a Linux computer.
            li.lhg-14 File <code>myiptcpmd.json</code>: a sample of ExifTool data for embedding IPTC photo metadata into the image files in the <code>images</code> directory. It is not required to keep the file, if you want to keep it you should rename it.

      h4#testtoolpkg Test the Basic Functions of the Tool Package (after installing it)
      h5 Test the program for embedding metadata by running it
      div
        ul.col-9
          li.lhg-14 Copy JPEG files from the <code>no-metadata-test-images</code> directory to the <code>images</code> directory.
          li.lhg-14 Execute the program for your operating system, see the details in the <a href="#opt1">step-by-step guideline</a> above.
            if showos.all
              | &nbsp;If macOS or Linux complains this program cannot be executed apply the <code>chmod</code> command as described in the guideline above. This change should be persistent.<br>
            | &nbsp;Executing this program will embed the sample photo metadata of this default <code>myiptcpmd.json</code>, using a photographer named Jane Doe and the Photo Agency XYZ as copyright holder and licensor.
          li.lhg-14 If executing the program looked successfully check an image file in the <code>images</code> directory. See above the <a href="#checkembmd">How to Check Embedded Metadata</a> section.

      if showos.all || showos.windows || showos.macos
        h5 Test the program for embedding metadata by dropping image files on it
        if showos.all
          div.row.mt-1
            div.col-9.lhg-14.mb-1 On a <strong>Linux</strong> computer: sorry, no such program is available as not all Desktop GUIs support dropping files, please use the run program option above.
        div
          ul.col-9
            li.lhg-14 Go to the <code>no-metadata-test-images</code> directory and select all three files.
            li.lhg-14 Drag and drop these files&nbsp;
              if showos.all
                | <br>... on a <strong>Windows</strong> computer&nbsp;
              if showos.all || showos.windows
                | on <code>embedIPTCpmd_RUNorDROP_windows.exe</code>. <br>!{reSecWarning}
              if showos.all
                | <br>... on a <strong>macOS</strong> computer&nbsp;
              if showos.all || showos.macos
                | on <code>embedIPTCpmd_RUNorDROP_macos.app</code>. <br>!{reSecWarning}
            li.lhg-14 The dropped files, now with embedded metadata, should be in the  <code>dropped_images</code> subdirectory of the Tool Package directory.
            li.lhg-14 Have a look into the log file of this program: the text file <code>embedIPTCpmd_drop-log.txt</code> in the Tool Package directory
            li.lhg-14 If executing the program with dropped files looked successfully check an image file in the <code>dropped_images</code> directory.  See above the <a href="#checkembmd">How to Check Embedded Metadata</a> section.
      h4#contacts Contacts
      div.row.mt-3
        div.col-9.lhg-14 For questions regarding IPTC Photo Metadata join <a href="https://groups.io/g/iptc-photometadata/">IPTC's public photo metadata forum</a>.
      div.row.mt-3
        div.col-9.lhg-14 For issues regarding this site post yours at <a href="https://github.com/nitmws/set-iptc-pmd-searchengines/issues">the corresponding Github repository</a>.
